@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

/* Criando variáveis para mudar tudo e não ter que ir até lá*/
:root {
  --bg-gray: #ddd;
  --text-gray: #4a4a4a;
  --color-primary: #4d41c0;
  --white: #fff;
  --text-light-gray: #aaa;
  --star-yellow: #ffbb3a;
}

/*Mudando a fonte de toda a página para Open Sans com o google fontes */
* {
  font-family: "Open Sans", sans-serif;
}

html,
body {
  background-color: var(--bg-gray); /*plano de fundo cinza*/
}

/* Mudando os itens da parte superior - onde navegamos */
header {
  background-color: var(--color-primary); /*cor da área roxo*/
  color: var(--white); /*texto em branco*/
  height: 60px;
  display: flex;
  align-items: center; /*alinhar o texto no centro*/
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Quando tiver um nav e um h1 dentro dele*/
nav h1 {
  font-size: 24px;
  font-weight: 700;
}

nav a {
  font-size: 12px;
  font-weight: 400;
}

/* a - Mudando a Cor da navegação
a:hover - é quando você passa o mouse por cima e fica com uma cor diferente
none - nenhuma
*/
a,
a:hover {
  text-decoration: none;
  color: unset;
}

/*Quando é classe você seleciona ele com o .*/
.dsmovie-contact-container {
  display: flex;
  align-items: center;
}

.dsmovie-contact-container img {
  margin-right: 10px; /*Separação do texto com a imagem*/
}

/*id usa #*/
#dsmovie-card-list {
  padding: 40px 10px;
}

.dsmovie-card {
  width: 100%;
}

.dsmovie-card img {
  width: 100%; /*tamanho da imagem de 100% de onde está - sem passar*/
  border-radius: 8px 8px 0 0; /*faz sentido horario - começa por cima*/
}

.dsmovie-card-description {
  background-color: var(--white);
  padding: 10px 20px 20px 20px;
  display: flex;
  flex-direction: column; /*eixo em vertical - itens em coluna*/
  align-items: center; /*alinhar os elementos ao centro*/
  justify-content: space-between;
  border-radius: 0 0 8px 8px;
  height: 200px;
}

.dsmovie-card-description h3 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
}

.dsmovie-card-description-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dsmovie-card-description-bottom h4 {
  font-size: 16px;
  font-weight: 700;
  color: var(--star-yellow);
}

.dsmovie-card-description-bottom img {
  width: 22px;
}

.dsmovie-card-description-bottom p {
  font-size: 12px;
  font-weight: 400;
  color: var(--text-light-gray);
  margin-bottom: 10px;
}

.dsmovie-btn,
.dsmovie-btn:hover {
  width: 180px; /*largura*/
  height: 40px; /*altura*/
  background-color: var(--color-primary);
  color: var(--white);
  font-size: 14px;
  font-weight: 700; /*tamanho da letra/fonte*/
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 0;
}

/*Formatando o form.html*/
.dsmovie-form-container {
  padding: 40px 0; /*espaçamento interno*/ /*Vertical - Horizontal*/
}

.dsmovie-form-description {
  background-color: var(--white);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 0 8px 8px;
}

.dsmovie-form-description h3 {
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 20px;
}

.dsmovie-form {
  width: 100%;
}

.dsmovie-form-btn-container {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.dsmovie-form-group {
  margin-bottom: 20px;
}

.dsmovie-form-group label {
  font-size: 12px; /*tamanho da fonte*/
  color: var(--text-light-gray);
}
